{% extends 'anais/base.html' %}

{% block title %}
Página Home
{% endblock %}

{% block content %}
<div class="card bg-dark text-white" style="height:640px;">
  <img src="{{ evento.banner.url }}" class="card-img h-100" alt="..." style="opacity:0.3;">
  <div class="shadow card-img-overlay d-flex flex-column align-items-center justify-content-center">
      <h1 class="card-title">{{ evento.titulo }}</h1>
      <h1 class="card-title">{{ evento.titulo }}</h1>
      <h1 class="card-title">{{ evento.titulo }}</h1>
  </div>
</div>
{% endblock %}
