{% extends 'anais/base.html' %}

{% block title %}
Página Home
{% endblock %}

{% block content %}
<script type='text/javascript'>
  $(document).ready(function(){

    $('#texttarget').keyup(function(){
      httpRequest = new XMLHttpRequest();
      var texto = $('#texttarget').val();
        httpRequest.onreadystatechange = function(){
          if (httpRequest.readyState === 4) {
            if (httpRequest.status === 200) {
              $("#ajaxcontent").html(httpRequest.responseText);
            }
          }
        };
        httpRequest.open('GET', '/ajax-search/'+texto, true);
        console.log(httpRequest);
        httpRequest.send(null);
      });
    });
  </script>

  <div class="container">
    <div class="d-flex justify-content-between container pt-2 pb-2">
      <h2>Anais de Eventos</h2>
      <h4 class="text-primary"><a href="{% url 'adicionar_evento' %}">Criar um evento</a></h4>
    </div>

    <div class="d-flex flex-row-reverse pb-3">
      <input id="texttarget" type="text" class="form-control col-sm-4" placeholder="Busque por título ou ISBN">
    </div>
  </div>

  <div id="ajaxcontent">
    {% include 'anais/home/eventos.html' %}
  </div>

  {% endblock %}
