{% extends 'anais/base.html' %}

{% block title %}
Página Home
{% endblock %}

{% block content %}
<div class="card bg-dark text-white" style="height:430px;">
  <img src="{{ evento.banner.url }}" class="card-img h-100" alt="..." style="opacity:0.3;">
  <div class="shadow card-img-overlay d-flex flex-column align-items-center justify-content-center">
    <div class="containter">
      <p class="card-text">Publicado em {{ evento.anais.data_de_publicacao|date:'d/m/Y' }}</p>
      <h1 class="card-title">{{ evento.anais.titulo }}</h1>
      <p class="card-text">{{ evento.local }}</h1>
      </div>
    </div>
  </div>

  <div class="container bg-white mt-3"  style="border:1px solid #cecece">
    <h2 class="pt-2">Informações do Trabalho</h2>
    <hr>
    <h4>Título do Trabalho</h4>
    <h6>{{ trabalho.titulo }}</h6>
    <h4 class="pt-3">Autores</h4>
    <ul>
      {% for autor in trabalho.autores.all %}
      <li><h6>{{ autor.nome }}</h6></li>
      {% endfor %}
    </ul>
    <h4 class="pt-3">Modalidade</h4>
    <h6>{{ trabalho.modalidade.nome }}</h6>
    <h4 class="pt-3">Área Temática</h4>
    <h6>{{ trabalho.area_tematica }}</h6>
    <h4 class="pt-3">Data de Publicação</h4>
    <h6>{{ trabalho.anais.data_de_publicacao|date:"d/m/Y" }}</h6>
    <h4 class="pt-3">País de Publicação</h4>
    <h6>{{ trabalho.anais.pais_de_publicacao }}</h6>
    <h4 class="pt-3">Idioma de Publicação</h4>
    <h6>{{ trabalho.anais.idioma_de_publicacao }}</h6>
  </div>

  <div class="container bg-white mt-3 mb-4"  style="border:1px solid #cecece">
    <div class="flexible-container-embed">
      <embed src="{{ trabalho.pdf.url }}" alt="pdf" width="100%" height="640px">
      </div>
    </div>
{% endblock %}
